.row {
    padding-bottom: 20px;
}
#project-list {
    padding: 95px 20px 20px 20px;
    background-color: #3B413C;
}
.data-analytics {
    background-image: linear-gradient(to bottom right, #ABDCFF, #0396FF);
    font-style: italic;
    font-weight: bold;
    font-family: Roboto;
    font-size: 16px;
}
.web-development {
    background-image: linear-gradient(to bottom right, #CE9FFC, #7367F0);
    font-style: italic;
    font-weight: bold;
    font-family: Roboto;
    font-size: 16px;
}
.general-programming {
    background-image: linear-gradient(to bottom right, #81FBB8, #28C76F);
    font-style: italic;
    font-weight: bold;
    font-family: Roboto;
    font-size: 16px;
}